.vs/
SegundaCinefilaTheGame.sdf
SegundaCinefilaTheGame.VC.opendb
SegundaCinefilaTheGame.VC.VC.opendb
SegundaCinefilaTheGame.VC.db
Debug/
SegundaCinefilaTheGame/Debug/
x64/
SegundaCinefilaTheGame/x64/
Game/SegundaCinefilaTheGame.exe
Game/SegundaCinefilaTheGame.iobj
Game/SegundaCinefilaTheGame.ipdb
Game/SegundaCinefilaTheGame.ilk
Game/SegundaCinefilaTheGame_Debug.exe
Game/SegundaCinefilaTheGame_Debug.iobj
Game/SegundaCinefilaTheGame_Debug.ipdb
Game/SegundaCinefilaTheGame_Debug.ilk